.body{
	overflow-x: hidden;
	overflow-y: hidden; 
}
.form{
	margin: 40px auto;
	min-width: 60vw;
	max-width: 50%;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	padding: 50px;
	align-content:center;
	color: #fff
}
.form input{
	height: 40px;
}
.form button{
	padding: 10px 30px;
}
.form h3{
	text-align: center;
	
}
.tab{
	text-align: center;
	padding: 0 0!important;
	border-radius: 5px;
	background-color: #333;
	display: inline-block;
	margin:0 2em;
	text-transform: uppercase;
}
.form > ul > li > a{
	color: #9e9e9e;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #4caf50!important;
}
.nav-pills>li>a, .nav-pills>li>a:focus,.nav-pills>li>a:hover{
	background-color: #333;
}